* {
  margin: 0;
  padding: 0; }

.cursiva {
  font-style: oblique;
  font-weight: bold;
  color: #171c47;
  padding-bottom: 5px; }

.subtitulo {
  grid-area: subtitulo;
  color: #2e2457;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 2px;
  margin-top: 10px;
  border-top: solid 1px #505491;
  margin-left: 2.5vw; }

.texto1 p, .textoInfo .textoInfo1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 2px;
  word-spacing: 7px;
  font-weight: 800;
  border-radius: 3%;
  padding: 10px 10px 10px 10px;
  margin-top: 50px;
  margin-left: 50px; }
  .texto1 p:hover, .textoInfo .textoInfo1:hover {
    -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

.texto2 p, .textoInfo .textoInfo2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 2px;
  word-spacing: 7px;
  font-weight: 800;
  border-radius: 3%;
  padding: 10px 10px 10px 10px;
  margin-left: 50px;
  margin-top: 20px; }
  .texto2 p:hover, .textoInfo .textoInfo2:hover {
    -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

.main .cards .card:hover, .cardsNosotros .card:hover {
  -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

.menu {
  grid-area: menu;
  display: flex;
  align-items: center;
  justify-content: end;
  background-image: linear-gradient(to right, #457b9d, #505491);
  width: 100%; }
  .menu a {
    text-decoration: none;
    color: navajowhite; }
    .menu a:hover {
      color: #dd7878; }
  .menu__ul {
    display: flex;
    list-style: none;
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: antiquewhite;
    padding-right: 2vw;
    border-bottom: solid 1px antiquewhite; }
    .menu__ul:hover {
      color: #dd7878;
      transition: .5s; }
    .menu__ul li {
      padding-right: 1.5vw; }
      .menu__ul li:hover {
        transform: scale(1.1);
        transition: .5s; }
  .menu__logo {
    font-family: 'Cinzel', serif;
    letter-spacing: 3px;
    font-size: 2rem;
    border-bottom: solid 1px antiquewhite;
    margin-left: 50px; }
    .menu__logo:hover {
      color: #dd7878;
      transition: .5s; }
  .menu .navbar-collapse {
    justify-content: flex-end; }

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #dd7878, #5f1638); }
  .footer a i {
    font-size: 2rem;
    margin: .5rem;
    color: antiquewhite; }
    .footer a i:hover {
      color: #457b9d;
      transform: scale(1.1);
      transition: .3s; }

.contenedorIndex {
  background-image: linear-gradient(180deg, #FFFFFF 0%, #a3afd6 39%, #c97d7d 100%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: .3fr .1fr 1fr 1fr .3fr;
  grid-template-areas: "menu menu menu menu" "subtitulo subtitulo subtitulo subtitulo" "texto1 texto1 imagenTerapia imagenTerapia" "texto2 texto2 imagenTerapia imagenTerapia" "footer footer footer footer";
  height: 100vh; }

.titular {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.imagenTerapia {
  grid-area: imagenTerapia; }
  .imagenTerapia img {
    width: 40vw;
    border: solid #b16666;
    margin-top: 100px;
    margin-left: 80px; }
    .imagenTerapia img:hover {
      filter: blur(2px);
      transition: .5s; }

.texto1 {
  grid-area: texto1;
  margin-top: 50px;
  margin-left: 100px;
  max-width: 750px; }
  .texto1 p {
    color: antiquewhite;
    border: solid #b16666; }

.texto2 {
  grid-area: texto2;
  margin-top: 50px;
  margin-left: 100px;
  max-width: 750px; }
  .texto2 p {
    color: antiquewhite;
    border: solid #505491; }

@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent; }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35); } }

@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent; }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35); } }

@media (max-width: 480px) {
  .contenedorIndex {
    grid-template-rows: .2fr 1fr 1fr .3fr;
    grid-template-areas: "menu menu menu menu" "texto1 texto1 texto1 texto1" "texto2 texto2 texto2 texto2" "footer footer footer footer";
    height: 100vh; }
  .imagenTerapia {
    display: none; }
  .texto1 p, .texto2 p {
    margin: 15px auto; } }

.contenedorContacto {
  background-color: linear-gradient(180deg, #FFFFFF 0%, #a3afd6 39%, #c97d7d 100%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: .5fr .2fr 1fr 1fr .5fr;
  grid-template-areas: "menu menu menu menu" "subtitulo subtitulo formualrio formualrio" "formulario formulario formulario formulario" "formulario formulario formulario formulario" "footer footer footer footer";
  height: 100vh; }

.formulario {
  grid-area: formulario;
  display: flex; }
  .formulario .datos {
    margin-left: 2vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 10px;
    height: 32vh; }
    .formulario .datos input {
      margin-bottom: 10px; }
    .formulario .datos select {
      margin-bottom: 10px; }
  .formulario .consultas {
    margin-left: 20vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
    height: 15vh; }

.contenedorServicios {
  background-image: linear-gradient(180deg, #FFFFFF 0%, #a3afd6 39%, #c97d7d 100%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: .3fr 1fr 1fr .3fr;
  grid-template-areas: "menu menu menu menu" "slider-servicios slider-servicios cards cards" "slider-servicios slider-servicios cards cards" "footer footer footer footer";
  height: 100vh; }

.main {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .main .slider-servicios {
    grid-area: slider-servicios;
    max-width: 850px;
    border: solid #b16666; }
    .main .slider-servicios .carousel-caption {
      display: flex;
      justify-content: center; }
    .main .slider-servicios img:hover {
      filter: blur(3px);
      transition: 1s; }
    .main .slider-servicios .card {
      color: black;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      letter-spacing: 2px;
      font-size: 1rem;
      font-weight: 500;
      background-color: #fff7ec;
      opacity: .5; }
      .main .slider-servicios .card:hover {
        opacity: 1;
        transition: 1s; }
  .main .cards {
    grid-area: cards;
    margin-top: 50px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: .1fr .1fr;
    grid-template-rows: .1fr .1fr;
    grid-template-areas: "card1 card2" "card3 card4"; }
    .main .cards h5 {
      text-align: center;
      color: #505491; }
    .main .cards .card {
      background-color: #fff7ec;
      border: solid #505491;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

.contenedorInformacion {
  background-image: linear-gradient(180deg, #FFFFFF 0%, #a3afd6 39%, #c97d7d 100%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: .3fr .1fr 1fr 1fr .3fr;
  grid-template-areas: "menu menu menu menu" "subtitulo subtitulo subtitulo subtitulo" "textoInfo textoInfo video video" "textoInfo textoInfo video video" "footer footer footer footer";
  height: 100vh; }
  .contenedorInformacion .subtitulo {
    margin-left: 62px; }

.textoInfo {
  grid-area: textoInfo;
  max-width: 650px;
  margin-left: 150px; }
  .textoInfo .textoInfo1 {
    color: antiquewhite;
    border: solid #b16666; }
  .textoInfo .textoInfo2 {
    color: antiquewhite;
    border: solid #505491; }

.video {
  grid-area: video;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .video p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 2px;
    word-spacing: 7px;
    font-weight: 700;
    color: #505491;
    border-left: solid #b16666;
    padding-left: 10px;
    margin-bottom: 50px;
    max-width: 850px; }

.contenedorNosotros {
  background-image: linear-gradient(180deg, #FFFFFF 0%, #a3afd6 39%, #c97d7d 100%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: .3fr .1fr 1fr 1fr .3fr;
  grid-template-areas: "menu menu menu menu" "subtitulo subtitulo subtitulo subtitulo" "textoNosotros textoNosotros cardsNosotros cardsNosotros" "formularioNosotros formularioNosotros cardsNosotros cardsNosotros" "footer footer footer footer";
  height: 100vh; }
  .contenedorNosotros .subtitulo {
    margin-left: 62px; }

.cardsNosotros {
  display: grid;
  gap: 20px;
  grid-template-columns: .1fr .1fr;
  grid-template-rows: .1fr .1fr;
  grid-template-areas: "card1 card2" "card3 card4";
  margin-right: 100px; }
  .cardsNosotros h5 {
    text-align: center;
    color: #505491; }
  .cardsNosotros .card {
    background-color: #fff7ec;
    border: solid #505491;
    max-height: 330px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

.textoNosotros {
  grid-area: textoNosotros;
  max-width: 650px;
  margin-top: 10px; }

.formularioNosotros form {
  grid-area: formularioNosotros;
  border-left: solid #b16666;
  margin-left: 50px;
  padding-left: 10px;
  position: relative;
  right: 620px;
  top: 400px; }
