*{
    margin: 0;
    padding: 0;
}

.cursiva {
    font-style: oblique;
    font-weight: bold;
    color: rgb(23, 28, 71);
    padding-bottom: 5px;
}

.subtitulo {
    grid-area: subtitulo;
    color: rgb(46, 36, 87);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 2px;
    margin-top: 10px;
    border-top: solid 1px rgb(80, 84, 145);
    margin-left: 2.5vw;
}

@import './secciones/nav';
@import './secciones/footer';
@import './secciones/index.scss';
@import './secciones/contacto.scss';
@import './secciones/servicios.scss';
@import './secciones/informacion.scss';
@import './secciones/nosotros.scss';

// AGREGAR EXPAND Y MIXIN EN INFORMACION

// AGREGAR ANIAMCIONES Y CLASES DE PARRAFOS INDEX EN INFORMACION

// AGREGAR LO DE SEO