*{
    margin: 0;
    padding: 0;
}

.cursiva {
    font-style: oblique;
    font-weight: bold;
    color: rgb(23, 28, 71);
    padding-bottom: 5px;
}

.subtitulo {
    @extend %subtitulo;
}
@import './variables/colores';
@import './variables/extend.scss';
@import './secciones/nav';
@import './secciones/footer';
@import './secciones/index.scss';
@import './secciones/contacto.scss';
@import './secciones/servicios.scss';
@import './secciones/informacion.scss';
@import './secciones/nosotros.scss';



