.contenedorInformacion {
    background-image: $colorFondo;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .3fr .1fr 1fr 1fr .3fr;
    grid-template-areas:
        "menu menu menu menu"
        "subtitulo subtitulo subtitulo subtitulo"
        "textoInfo textoInfo video video"
        "textoInfo textoInfo video video"
        "footer footer footer footer";
    height: 100vh;

    .subtitulo {
        margin-left: 62px;
    }
}

.textoInfo {
    grid-area: textoInfo;
    max-width: 650px;
    margin-left: 150px;

    .textoInfo1 {
        @extend %estilosTexto1;
        @include estiloTextos($colorTexto1, $bordeTexto1);
    }

    .textoInfo2 {
        @extend %estilosTexto2;
        @include estiloTextos($colorTexto2, $bordeTexto2);
    }
}

.video {
    grid-area: video;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        letter-spacing: 2px;
        word-spacing: 7px;
        font-weight: 700;
        color: rgb(80, 84, 145);
        border-left: solid rgb(177, 102, 102);
        padding-left: 10px;
        margin-bottom: 50px;
        max-width: 850px;
    }
}

@media (max-width: 576px) {
    .contenedorInformacion {
        grid-template-rows: .3fr 1fr 1fr .3fr;
        grid-template-areas:
            "menu menu menu menu"
            "video video video video"
            "video video video video"
            "footer footer footer footer";
        height: 100vh;
    }

    .subtitulo {
        display: none;
    }

    .textoInfo {
        display: none;
    }

    .video {
        iframe {
            max-width: 100vw;
        }
    }
}