.contenedorNosotros {
    background-color: rgb(247, 247, 244);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .5fr .2fr 1fr 1fr .5fr;
    grid-template-areas:
        "menu menu menu menu"
        "subtitulo subtitulo subtitulo subtitulo"
        "textoNosotros textoNosotros accordionNosotros accordionNosotros"
        "textoNosotros textoNosotros formularioNosotros formularioNosotros"
        "footer footer footer footer";
    height: 100vh;
}


.textoNosotros {
    grid-area: textoNosotros;
    max-width: 650px;
}

.formularioNosotros form {
    grid-area: formularioNosotros;
    border-left: solid rgb(177, 102, 102);
    margin-left: 50px;
    padding-left: 10px;
    position: relative;
    right: 50px;
    bottom: 20px;
}

.accordionNosotros {
    grid-area: accordionNosotros;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}