.contenedorNosotros {
    background-image: $colorFondo;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .3fr .1fr 1fr 1fr .3fr;
    grid-template-areas:
        "menu menu menu menu"
        "subtitulo subtitulo subtitulo subtitulo"
        "textoNosotros textoNosotros accordionNosotros accordionNosotros"
        "textoNosotros textoNosotros formularioNosotros formularioNosotros"
        "footer footer footer footer";
    height: 100vh;

    .subtitulo {
        margin-left: 62px;
    }
}



.textoNosotros {
    grid-area: textoNosotros;
    max-width: 650px;
}

.formularioNosotros form {
    grid-area: formularioNosotros;
    border-left: solid rgb(177, 102, 102);
    margin-left: 50px;
    padding-left: 10px;
    position: relative;
    right: 50px;
    bottom: 20px;
}

.accordionNosotros {
    grid-area: accordionNosotros;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    .accordion-item {
        background-color: rgb(255, 247, 236);
    }
}

@media (max-width: 480px) {
    .contenedorNosotros {
        grid-template-rows: .3fr 1fr 1fr .3fr;
        grid-template-areas:
            "menu menu menu menu"
            "textoNosotros textoNosotros textoNosotros textoNosotros"
            "accordionNosotros accordionNosotros accordionNosotros accordionNosotros"
            "footer footer footer footer";
        height: 100vh;

    }

    .textoNosotros {
        display: flex;
        margin: 0 auto;
        margin-right: 40px;
    }

    .subtitulo {
        display: none;
    }

    .formularioNosotros {
        display: none;
    }

}