.contenedorServicios {
    background-image: $colorFondo;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .3fr 1fr 1fr .3fr;
    grid-template-areas:
        "menu menu menu menu"
        "slider-servicios slider-servicios cards cards"
        "slider-servicios slider-servicios cards cards"
        "footer footer footer footer";
    height: 100vh;

}

.main {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .slider-servicios {
        grid-area: slider-servicios;
        max-width: 850px;
        margin-top: 100px;
        border: $bordeTexto1;

        .carousel-caption {
            display: flex;
            justify-content: center;
        }


        img:hover {
            filter: blur(4px);
            transition: .7s;

        }

        .card {
            color: black;
            font-family: Cambria,
                Cochin,
                Georgia,
                Times,
                'Times New Roman',
                serif;
            letter-spacing: 2px;
            font-size: 1rem;
            font-weight: 500;
            background-color: rgb(255, 247, 236);
            opacity: .5;

            &:hover {
                opacity: 1;
                transition: 1s;

            }
        }
    }

    .cards {
        grid-area: cards;
        margin-top: 50px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: .1fr .1fr;
        grid-template-rows: .1fr .1fr;
        grid-template-areas:
            "card1 card2"
            "card3 card4";

        h5 {
            text-align: center;
            color: #505491;
        }

        .card {
            background-color: rgb(255, 247, 236);
            border: $bordeTexto2;
            font-family: Cambria,
                Cochin,
                Georgia,
                Times,
                'Times New Roman',
                serif;

            &:hover {
                @extend %animacionHover;
            }
        }

    }
}

@media (max-width: 480px) {
    .contenedorServicios {
        grid-template-rows: .2fr 1fr 1fr .3fr;
        grid-template-areas:
            "menu menu menu menu"
            "slider-servicios slider-servicios slider-servicios slider-servicios"
            "slider-servicios slider-servicios slider-servicios slider-servicios"
            "footer footer footer footer";
        height: 100vh;
    }

    .main {
        .cards {
            display: none;
        }

        .slider-servicios {

            .card {
                opacity: .8;
            }
        }
    }

}