.contenedorTurnos {
    background-image: $colorFondo;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .3fr .1fr 1fr 1fr .3fr;
    grid-template-areas:
        "menu menu menu menu"
        "subtitulo subtitulo subtitulo subtitulo"
        "formulario formulario formulario formulario"
        "formulario formulario formulario formulario"
        "footer footer footer footer"
    ;
    height: 100vh;

    .subtitulo {
        margin-left: 62px;
    }
}

.formulario {
    grid-area: formulario;
    display: flex;
    margin-left: 26px;

    .datos {
        margin-left: 2vw;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        // padding-left: 10px;
        height: 32vh;

        input {
            margin-bottom: 10px;
        }

        select {
            margin-bottom: 10px;
        }
    }

    .consultas {
        margin-left: 20vw;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        padding: 5px;
        height: 15vh;
    }

}

// MEDIA QUERY

@media (max-width: 1200px) {
    .contenedorTurnos {
        grid-template-rows: .3fr 1fr 1fr .3fr;
        grid-template-areas:
            "menu menu menu menu"
            "formulario formulario formulario formulario"
            "formulario formulario formulario formulario"
            "footer footer footer footer";

    }

    .subtitulo {
        display: none;
    }

    .menu {
        ul {
            font-size: 1rem;
        }

    }

}

@media (max-width: 992px) {
    .contenedorTurnos {
        grid-template-rows: .3fr 1fr 1fr .3fr;
        grid-template-areas:
            "menu menu menu menu"
            "formulario formulario formulario formulario"
            "formulario formulario formulario formulario"
            "footer footer footer footer";

    }

    .subtitulo {
        display: none;
    }

    .menu {
        ul {
            font-size: 1rem;
        }

    }

    .consultas {
        display: none;
    }
}

@media (max-width: 576px) {
    .contenedorTurnos {
        grid-template-rows: .3fr 1fr 1fr .3fr;
        grid-template-areas:
            "menu menu menu menu"
            "formulario formulario formulario formulario"
            "formulario formulario formulario formulario"
            "footer footer footer footer";
        height: 100vh;
    }

    .subtitulo {
        display: none;
    }


    .formulario {
        overflow: scroll;

        .consultas {
            display: none;
        }
    }


}